<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>This is a Page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum harum perferendis temporibus odit, ipsa cumque corporis sint et, sunt labore vero animi veniam officiis fugiat quod aspernatur ex est. Obcaecati.</p>
    <div>
        <ul>
            <li>mango</li>
            <li>lichu</li>
            <li>potato</li>
        </ul>
    </div>
</body>
</html>