{% extends 'base.html' %}

{% block content %}

{% if data %}
    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Musician Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Instrument Type</th>
                <th scope="col">Album Name</th>
                <th scope="col">Release Date</th>
                <th scope="col">Album Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th scope="row">{{ i.id }}</th>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td>{{ i.instrument_type }}</td>
                <td>{{ i.album_name }}</td>
                <td>{{ i.release_date }}</td>
                <td>{{ i.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No data available.</p>
{% endif %}


{% endblock %}


